*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #f1f2f5;
}


/* ===== by giving flex to main-body our all 3 elements can take place like sidebar, feed and third part ============*/
.main-body{
    display: flex;
}






.header-left img{
    height: 40px;
}



.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0,  0, 0, 0.75);
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header-input input{
    border: none;
    outline-width: 0;
    background-color: transparent;
}

.header-middle {
    display: flex;
    flex: 1;
    justify-content: center;
    /* align-items: center; */
}

.header-option .material-icons{
    font-size: xx-large;
    color: gray;
}

.header-option .material-icons:hover{
    color: #2e81f4;
}

.header-option{
    display: flex;
    align-items: center;
    /* padding: 0px 30px; */
    margin: 0 auto;
    cursor: pointer;
}


.header-option.active .material-icons{
    color: #2e81f4;
    
}

.header-option.active{
    border-bottom: 4px solid #2e81f4;
}

.header-option:hover{
    background: #eff2f5;
    padding: 0 30px;
    border-bottom: none;
}

.header-info{
    display: flex;
    align-items: center;
}

.user-avatar{
    border-radius: 50%;
    width: 35px;
}

.header-info h4{
    margin-left: 8px;
    font-size:small;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-right .material-icons{
    color: gray;
    margin: 0 2px;
    cursor: pointer;
}


/* ====== XX Header/nav end here XX =======*/



/*========= Section ===============*/

/* ========== Sidebar ============== */

.sidebar{
    width: 17%;
}

.sidebar :hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebar-row{
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    
}

.sidebar-row .material-icons {
    margin: 0 12px;
    color: #2e81f4;
    /* font-size: xx-large; */
    font-size: x-large;
}

.sidebar-row .material-icons.more{
    color: black;
    background: lightgrey;
    border-radius: 50%;
}

.sidebar-row h4{
    font-weight: 600;
    font-size: 15px;
    margin: 0 8px;
}

/* .sidebar-row  :hover{
    background: lightgray;
    border-radius: 10px;
} */





/* ========== XX Sidebar XX ============== */



/*========= Feeds/ middle part  =========*/

.storyreels{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    /* border: 2px solid; */
}




.story {
    background-image: url("./images/post1.jpg");
    /* position: relative; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 180px;
    box-shadow: 0px 5px 17px -7px rgba(0,  0, 0, 0.75);
    border-radius: 15px;
    margin-right: 10px;
    padding: 15px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}

.story img{
    width: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #2e81f4;
    padding: 3px;
    box-shadow: 0px 5px 17px -7px rgba(0,  0, 0, 0.75);
    
    cursor: pointer;
}

.story h4 {
    display: flex;
    margin-top: 80px;
    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.story:hover{
    transform: scale(1.05);
}






/*======= XX Feeds/ middle part XX ========*/




/*========= XX Section XX ==============*/



/*========== mobile version css =========*/

.header-hamburger{
    display: none;
}

.header-hamburger img{
   width: 30px; 
   height: 40px;
}





/*========XX mobile version css XX=========*/



/*====== media query for mobile version=== */

@media screen and (max-width:650px){

    .header-input input{
        display: none;
    }

    .header-hamburger{
        display: block;
    }

    .header-middle{
        display: none;
    }

    .sidebar{
        display: none;
    }
}



/*======XX media query for mobile version XX === */


/*====== Mdeia query for medium device ===*/

@media screen and (max-width:1024px){

    .sidebar{
        display: none;
    }

    .header-input input{
        display: none;
    }

    .header-info{
        display: none;
    }
}    


/*================ XX Mdeia query for medium device XX =================*/

