*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #f1f2f5;
}


/* ===== by giving flex to main-body our all 3 elements can take place like sidebar, feed and third part ============*/
.main-body{
    display: flex;
}






.header-left img{
    height: 40px;
}



.header{
    width: 100vw;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0,  0, 0, 0.75);
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header-input input{
    border: none;
    outline-width: 0;
    background-color: transparent;
}

.header-middle {
    display: flex;
    flex: 1;
    justify-content: center;
    /* align-items: center; */
}

.header-option .material-icons{
    font-size: xx-large;
    color: gray;
}

.header-option .material-icons:hover{
    color: #2e81f4;
}

.header-option{
    display: flex;
    align-items: center;
    /* padding: 0px 30px; */
    margin: 0 auto;
    cursor: pointer;
}


.header-option.active .material-icons{
    color: #2e81f4;
    
}

.header-option.active{
    border-bottom: 4px solid #2e81f4;
}

.header-option:hover{
    background: #eff2f5;
    padding: 0 30px;
    border-bottom: none;
}

.header-info{
    display: flex;
    align-items: center;
}

.user-avatar{
    border-radius: 50%;
    width: 35px;
}

.header-info h4{
    margin-left: 8px;
    font-size:small;
}

.header-right{
    display: flex;
    align-items: center;
}

.header-right .material-icons{
    color: gray;
    margin: 0 2px;
    cursor: pointer;
}


/* ====== XX Header/nav end here XX =======*/



/*========= Section ===============*/

/* ========== Sidebar ============== */

.sidebar{
    width: 17%;
}

.sidebar :hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebar-row{
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    
}

.sidebar-row .material-icons {
    margin: 0 12px;
    color: #2e81f4;
    /* font-size: xx-large; */
    font-size: x-large;
}

.sidebar-row .material-icons.more{
    color: black;
    background: lightgrey;
    border-radius: 50%;
}

.sidebar-row h4{
    font-weight: 600;
    font-size: 15px;
    margin: 0 8px;
}

/* .sidebar-row  :hover{
    background: lightgray;
    border-radius: 10px;
} */





/* ========== XX Sidebar XX ============== */



/*========= Feeds/ middle part  =========*/

.storyreels{
    display: flex;
    width: 100%;
    /* height: 100%; */
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    /* border: 2px solid; */
}




.story {
    background-image: url("./images/post1.jpg");
    /* position: relative; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 180px;
    box-shadow: 0px 5px 17px -7px rgba(0,  0, 0, 0.75);
    border-radius: 15px;
    margin-right: 10px;
    padding: 15px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}

.story img{
    width: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #2e81f4;
    padding: 3px;
    box-shadow: 0px 5px 17px -7px rgba(0,  0, 0, 0.75);
    
    cursor: pointer;
}

.story h4 {
    display: flex;
    margin-top: 80px;
    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.story:hover{
    transform: scale(1.05);
}

 /* ========================= third row mid part whats on your mind ? ============================ */


.messageSender-avtar img{
    border-radius: 50%;
    width: 40px;
    

}



.material-icons.videocam{
    color: red;
}

.material-icons.photo{
    color: green;
    padding: 0;
    margin: 0;
}

.material-icons.emo-icon{
    color: orange;
}

.messageSender{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px  7px -7px rgba(0,0,0,0.75);
    width: 100vw;
}

.messageSender-top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
    width: 100%;
    /* border: 2px solid black; */
    /* flex: 1; */
}

.messageSender-avtar{
    display: flex;

}

.messageSender-top form{
    display: flex;
    /* border: 2px solid black; */
    width: 100%;
} 

.messageSender-top form input{
    width: 75vw;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 800px;
    /* background-color: #eff2f5; */
    background-color: #f1f2f5;
}


.messageSender-bottom{
    display: flex;
    justify-content: space-evenly;
}

.messageSender-option{
    padding: 8px;
    display: flex;
    color: gray;
}


 /* ============= XX third row mid part whats on your mind ? XX ========================= */


/*======= XX Feeds/ middle part XX ========*/




/*========= XX Section XX ==============*/



/*================= post like comment share image ==================*/
/* ===========section ================ */

.post-top{
    /* border: 2px solid black; */
    width: 300px;

    background-color: #fff;
    border-radius: 15px;
    display: flex;


    
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.post-head img{
    border-radius: 50%;
    width: 35px;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
}

.earth-icon img{
    width: 9px;
    color: gray;
}

.post-head{
    display: flex;
    margin: 8px 15px;
}

.post-head-text h6{
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

#post-head-span{
    font-size: 12px;
    color: gray;
}

#post-description{
    margin: 15px;
    cursor: pointer;
    /* border: 2px solid; */
    height: 50px;
    box-shadow: 0px 5px 7px -9px black ;
    border-bottom: 1px solid  gray;

}

.public-cmnt{
    display: flex;
}

.public-cmnt img{
    width: 20px;
    border-radius: 50%;
}

#post-description h6{
    font-weight: 300;
    font-size: 13px;
}



#post-image{
    width: 100%;
    height: 100%;
}


.post-pic img{
    
    width: 90%;
    height: 50vh;
   
    margin: 0 15px;
    padding: 0;
}

#post-emoji{
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid gray;
    height: 35px;
}

#post-emoicons{
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.like img{
background-color: #2e81f4;
border-radius: 50%;
width: 17px;
}

.heart img{
    background-color: red;
    border-radius: 50%;
    width: 17px;
}

#like-count{
    color: gray;
    font-size: 15px;
    margin: 0px 8px;
    font-weight: 500;

}

#comment-count{
    color: gray;
    font-size: 15px;
    font-weight: 500;
    /* margin: 5px; */
}

.comments{
    display: flex;
    justify-content: flex-end;
    margin: 5px 7px;
    width: 100%;
}

.likers{
    display: flex;
    flex-direction: row;
    width: 100%;
}



#large-like-cmnt-share-btn{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 5px;
}

#large-like-cmnt-share-btn :hover{
    background-color: lightgray;
    padding: 0 4px;
}

.public-cmnt{
margin-bottom: 10px;
width: 100%;
}

.public-cmntwrite{
    display: flex;
    margin-left: 5px;
}

.public-cmnt-input input {
    border: none;
    background-color: darkgray;
    border-radius: 999px;
    outline-width: 0;
    padding: 5px;
    margin-left: 7px;
    /* background-color: transparent; */
    width: 250px;
}









/*============== XX post like comment share image XX ==================*/




/*========== mobile version css =========*/

.header-hamburger{
    display: none;
}

.header-hamburger img{
   width: 30px; 
   height: 40px;
}



.header-mobile{
    width: 100%;
    display: flex;
    background-color: #fff;
    /* display: none; */
}

.left-mobile{
    display: flex;
    /* width: 60%; */

}

.left-mobile-logo img{
    width: 30px;
    margin: 8px;
}


.right-mobile{
    width: 80%;
}

.right-mobile-icons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid; */
    margin: 5px;
}

.right-mobile-icons img{
    width: 25px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 4px;
    margin-right: 18px;
}


#mobile-navigation{
    display: flex;
    justify-content: space-around;
}

.header-mobile-icons{
    background-color: white;
    display: none;
    box-shadow: 1px 5px 7px -9px;
}

.mobile-icons-wrapper{
color: gray;
cursor: pointer;
}

.mobile-icons-wrapper .homies{
    color: #2e81f4;
}

.mobile-icons-wrapper:hover{
    background-color: #f1f2f5;
    padding: 0 15px;

}

/*========XX mobile version css XX=========*/



/*====== media query for mobile version=== */

@media screen and (max-width:650px){

    .header-input input{
        display: none;
    }

    .header-hamburger{
        display: block;
    }

    .header-middle{
        display: none;
    }

    .header{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .storyreels{
    
        width: 75vw;
        height: 25vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        overflow-x: auto;
        justify-content: space-between;
        padding: 0px 15px;
    }
    .header-mobile-icons{
        display: block;
    }
    

    .post-top{
        width: 100%;
        margin: 0px;
    }
    .public-cmnt-input input{
        width: 70vw;
    }
}




/*======XX media query for mobile version XX === */


/*====== Mdeia query for medium device ===*/

@media screen and (max-width:1024px){

    .sidebar{
        display: none;
    }

    .header-input input{
        display: none;
    }

    .header-info{
        display: none;
    }

    
}    


/*================ XX Mdeia query for medium device XX =================*/


/* mobile navigation show only from below 650px */
/*========== media query for mobile navigation ===========*/
@media screen and (min-width:650px) {

    .header-mobile{
        display: none;
    }
   
    
    
}


/* mobile navigation show only from below 650px */
/*========== XX media query for mobile navigation =========== XX*/


/* media query for story/feed align in center and make input large for medium device */
    @media screen and (min-width:768px) {

        .post-top{
            display: flex;
            justify-content: center;
            width: 100%;
        }
       
    }



